---
---
.wrapper {
  max-width: 1400px;
}

.page-content .wrapper {
  max-width: 1400px;
}
.page-content {
  padding: 0;
}
.full-width-banner {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.full-width-banner img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}
